.example-container {
  width: 100%;
  height: 100vh;
  
}

.example-sidenav {
  width: 240px;
  display: flex;
}

.example-sidenav-content {
  flex: 1;
  overflow: auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
 
}

.navigation-main{
  display: flex;
}

.navigation{
  margin-top: 5px;
}
.navigation a{
  text-decoration: none;
}

.nav{
  display: flex;
}

.mat-list-item{
  display: flex;
}

.icon {
  margin-right: 10px;
  display: flex;
  width: 10px;
  height: 10px;
}

.view {
  margin-left: 10px;
}

.example-sidenav .mat-list-item {
  transition: background-color 0.3s;
}

.example-sidenav .mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.example-sidenav .mat-icon {
  transition: color 0.3s;
}

mat-toolbar {
  background-color: #085C9A; 
  color: white; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}


mat-toolbar button.example-icon {
  margin-right: 12px;
}

mat-toolbar button {
  color: white; 
}

mat-toolbar button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

mat-toolbar .title {
  flex: 1; 
  text-align: center; 
  font-size: 22px;
}

.title {
  cursor: pointer;
}

.navbar {
  background-color:#085C9A;
}

.icon {
  color: #085C9A;
}

.active {
  background-color: darkgray !important;
}



