.not-found {
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .container {
      text-align: center;
      max-width: 600px;
    }
  
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      color: #333;
    }
  
    p {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 30px;
    }
  
    button {
      font-size: 1rem;
    }
  }
  
  .lottie{
    margin-bottom: 20px;
  }