h3{
  font-size: 20px;
  font-weight: 500;
}
  
.add-book {
    margin-bottom: 10px;
    margin-top: 15px;
    transition: transform 0.2s;
    
}
.add-book:hover {
  transform: scale(1.1); 
}

.mat-table {
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0 2px 5px rgba(15, 15, 15, 0.1);
}

.mat-header-row,
.mat-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.mat-header-row:hover,
.mat-row:hover {
  background-color: #f5f5f5;
}

.mat-cell,
.mat-header-cell {
  padding: 12px; 
  font-size: 14px;
  text-align: left;
  border-bottom: none;
}

.mat-header-cell {
  font-weight: bold;
  color: #333;
}

button {
  background-color: transparent; 
  border: none;
  color: #085C9A;
  cursor: pointer;
  padding: 6px 9px; 
  border-radius: 100px;
  transition: background-color 0.3s;
}

button:hover {
  color: #DCA11D; 
  transform: scale(1.1);
}

mat-icon {
  vertical-align: middle;
  margin-right: 4px; 
}

.action-button {
  margin-right: 8px; 
}
