
h3{
  padding-left: 20px;
  font-weight: 500;
}

form {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; 
   }
  
  mat-label {
    color: #333; 
    font-weight: bold; 
  }
  
  mat-form-field {
    width: 100%;
  }
  
  ::ng-deep .mat-form-field-placeholder {
    color: #999; 
  }
  
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }

  .btn{
    margin-left: 10px;
  }

  button {
    color: white;
    background-color: #085C9A;
    border-color: #085C9A;
  
    border-width: 3px;
    border-style: solid;
  
    padding: 5px 13px;
    border-radius: 8px;
    font-size: 14px;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  button:hover{
    transform: scale(1.05);
  }

  .primary-btn {
    background-color: #085C9A;
    color: white;
    transition: 0.3s;
  }
  
  .primary-btn:hover {
    transform: scale(1.05);
  }
  
  .mat-button-disabled {
    background-color: #bdbdbd;
  }
  
  .secondary-btn{
    background-color: white;
    border-color: #085C9A;
    transition: 0.3s;
    color: black;
  }
  
  .secondary-btn:hover {
    transform: scale(1.05); 
  }

